<!DOCTYPE html>
<html lang='en'>
  <% include ../partials/_head %>
  <body>
    <header>
      <% include ./partials/_header %>
    </header>

    <main class='container backend-menu'>
      <h1>Menu items</h1>

      <!-- new dish form -->
      <article class='dish panel panel-primary'>
        <header class='panel-heading'>
          <h3 class='panel-title'>New Dish</h3>
        </header>
        <main class='panel-body'>
          <section>
            <label>Name</label>
            <textarea form='add-new-dish' class='form-control' name='dish' placeholder='Name'></textarea>
          </section>

          <section>
            <label>Dish photo</label>
            <input form='add-new-dish' type='file' name='photo'>
          </section>

          <section>
            <label>Description</label>
            <textarea form='add-new-dish' class='form-control' name='description' placeholder='Description'></textarea>
          </section>

          <section>
            <label>Cost</label>
            <input form='add-new-dish' type='text' class='form-control' name='price' placeholder='Price'>
          </section>

          <form id='add-new-dish' role='form' encType="multipart/form-data" action='/backend/newdish/' method='POST'></form>
        </main>
        <footer class='panel-footer'>
          <button form='add-new-dish' class='dish-edit-submit btn btn-primary'>Submit Dish</button>
        </footer>
      </article>

      <% for(let dish of dishes) { %>
        <article class='dish panel panel-default'>
          <main class='panel-body dish-edit-panel'>
            <!-- Dish name  -->
            <section class='name-panel'>
              <label><span class='glyph'>&#9998;</span> Dish name</label>
              <p><%= dish.dish_name %></p>
              <input form='dish-editor-<%= dish.id %>' class='hide dish-name-edit form-control dish-edit-field' type='text' placeholder='Name' name='dish_name'>
            </section>

            <!-- Dish photo -->
            <section class='photo-panel'>
              <label><span class='glyph'>&#9998;</span> Photo</label>
              <img class='dish-photo' src='<%= dish.photo_url %>'/>
              <input form='dish-editor-<%= dish.id %>' class='hide dish-photo-edit dish-edit-field' type='file' name='photo'>
            </section>

            <!-- Dish description  -->
            <section class='description-panel'>
              <label><span class='glyph'>&#9998;</span> Description</label>
              <p class='dish-description'><%= dish.description %></p>
              <textarea form='dish-editor-<%= dish.id %>' class='form-control hide dish-description-edit dish-edit-field' name='description' placeholder='Description'></textarea>
            </section>

            <!-- Dish price -->
            <section class='price-panel'>
              <label><span class='glyph'>&#9998;</span> Cost</label>
              <p class='dish-cost'><%= dish.cost %></p>
              <input form='dish-editor-<%= dish.id %>' type='text' class='form-control hide dish-cost-edit dish-edit-field' name='price' placeholder='Price'>
            </section>

            <form id='dish-editor-<%= dish.id %>' class='dish-editor-form' role='form' encType="multipart/form-data" action='/backend/dishes/<%=dish.id%>' method='POST'></form>
          </main>
          <footer class='panel-footer'>
            <button form='dish-editor-<%= dish.id %>' class='dish-edit-submit hide btn btn-primary'>Submit Changes</button>
            <button class='dish-delete btn btn-danger'>Delete Item</button>
          </footer>
        </article>
      <% } %>
    </main>
    <script type='text/javascript' src='/scripts/backend/menu-edit-helpers.js'></script>
    <script type='text/javascript' src='/scripts/backend/app.js'></script>
  </body>
</html>
