<!DOCTYPE html>
<html lang='en'>
  <% include ../partials/_head %>
  <body>
    <header>
      <% include ./partials/_header %>
    </header>
    <main class='container backend-menu'>
      <h1>Menu items</h1>
      <% for(let dish of dishes) { %>
        <article class='dish panel panel-default'>
          <header class='panel-heading'>
            <h3 class='panel-title'><%= dish.dish_name %></h3>
          </header>
          <main class='panel-body dish-edit-panel'>
            <section class='photo-panel'>
              <label><span class='glyph'>&#9998;</span> Photo</label>
              <img class='dish-photo' src='<%= dish.photo_url %>'/>
              <input form='dish-editor-<%= dish.id %>' class='hide dish-photo-edit' type='file' name='photo'>
            </section>
            <section class='description-panel'>
              <label><span class='glyph'>&#9998;</span> Description</label>
              <p class='dish-description'><%= dish.description %></p>
              <textarea form='dish-editor-<%= dish.id %>' class='form-control hide dish-description-edit' name='description' placeholder='Description'></textarea>
            </section>
            <section class='price-panel'>
              <label><span class='glyph'>&#9998;</span> Cost</label>
              <p class='dish-cost'><%= dish.cost %></p>
              <input form='dish-editor-<%= dish.id %>' type='text' class='form-control hide dish-cost-edit' name='price' placeholder='Price'>
            </section>
            <button form='dish-editor-<%= dish.id %>' class='dish-edit-submit hide btn btn-primary'>Submit Changes</button>
          </main>
          <footer class='panel-footer'>
            <button class='dish-delete btn btn-danger'>Delete Item</button>
            <form id='dish-editor-<%= dish.id %>' role='form' encType="multipart/form-data" action='/backend/dishes/<%=dish.id%>' method='POST'></form>
          </footer>
        </article>
      <% } %>
    </main>
    <footer>
    </footer>
    <script type='text/javascript' src='/scripts/backend/menu-edit-helpers.js'></script>
    <script type='text/javascript' src='/scripts/backend/app.js'></script>
  </body>
</html>
