<!DOCTYPE html>
<html lang='en'>
  <% include ../partials/_head %>
  <body>
    <header>
    </header>
    <main class='container'>
      <h1>Client backend</h1>
      <% for(let dish of dishes) { %>
        <article class='dish panel panel-primary' data-id='dish.id'>
          <header class='panel-heading'>
            <h3 class='panel-title'><%= dish.dish_name %></h3>
          </header>
          <img class='dish-photo pull-right' src='<%= dish.photo_url %>' width='240px'/>
          <main class='panel-body'>
            <label>Description</label>
            <p class='dish-description'><%= dish.description %></p>
            <label>Cost</label>
            <p class='dish-cost'><%= dish.cost %></p>
            <section class='editor-container'>
              <h4>Editor</h4>
              <form id='dish-editor' role='form' action='/backend/dishes/<%=dish.id%>' method='POST'>
                <label>Description</label>
                <textarea class='form-control' name='description' placeholder='Description'></textarea>
                <label>Price</label>
                <input type='text' class='form-control' name='price' placeholder='Price'>
                <button class='dish-edit-submit btn btn-primary'>Submit Changes</button>
                <button class='dish-edit-revert btn btn-danger'>Cancel Changes</button>
              </form>
            </section>
          </main>
          <footer class='panel-footer'>
            <button class='dish-edit btn btn-primary'>Edit item</button>
            <button class='dish-delete btn btn-danger'>Delete Item</button>
          </footer>
        </article>
      <% } %>
    </main>
    <footer>
    </footer>
    <script type='text/javascript' src='/scripts/backend/menu-edit-helpers.js'></script>
    <script type='text/javascript' src='/scripts/backend/app.js'></script>
  </body>
</html>
